@{
    ViewData["Title"] = "Online Bookstore";
}

@model BookListViewModel

@foreach (var book in Model.Books)
{
    <div class="card border-white mb-3 mx-auto bg-dark" style="width: 100rem;">

        <div class="card-title text-white text-center" style="padding: 15px">
            <h2>@book.BookTitle</h2>
        </div>

        <ul>
            <li>Author: @book.AuthorFirstName @book.AuthorMiddleName @book.AuthorLastName</li>
            <li>ISBN: @book.ISBN</li>
            <li>Publisher: @book.Publisher</li>
            <li>Price: $@book.BookPrice </li>
        </ul>

        <span class="badge badge-pill badge-primary" style="float:right">
            <p>Classification: @book.Classification</p>
        </span>

        <span class="badge badge-pill badge-primary" style="float:right">
            <p>Category: @book.Category </p>
        </span>
    </div>
}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
